<settings>
    <proxies>
        <proxy>
            <id>id</id>
            <active>true</active>
            <protocol>http</protocol>
            <username>vpnproxy</username>
            <password>Orange2468</password>
            <host>10.1.166.202</host>
            <port>8080</port>
            <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
        </proxy>
    </proxies>
</settings> 
